:root {
  --buttonColor: white;
  --bodyColor: #f199b3;
  --bodyFont: #18ab7f;

}

#questions,
#highscore-Display,
#last-Page,
#correct-Incorrect {
  display: none;
}

body {
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
}

#start-Button, #submit-Score, #go-Back, #clear-Scores, #time {
  background-color: var(--buttonColor);
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  color: var(--bodyFont);
}

#high-Scores {
  margin: 3%;
  background-color: var(--buttonColor);
}

#time {
  position: absolute;
  right: 5%;
  top: 5%;
}

#first-Page {
  margin-top: 10%;
  text-align: center;
  color: var(--bodyFont);
}

#last-Page {
  text-align: center;
}

.beg-End {
  margin: auto;
  border: 5px solid var(--bodyFont);
  padding: 10px;
  max-width: 40%;
  background-color: var(--buttonColor);
  border-radius: 4%;
}

#highscore-Display {
  width: 30%;
}

#score-Style {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  color: var(--bodyFont);
}

.score-Buttons {
  color: var(--bodyFont);
  background-color: var(--buttonColor);
}

.button-Used {
  background-color: var(--buttonColor);
  color: var(--bodyFont);
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.quiz {
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: .9;
  color: black;
  border: 2px solid black;
  max-width: 40%;
  border-radius: 8px;
  background-color: var(--bodyFont);
}

footer {
  position: fixed;
  bottom: 0;
  margin-left: 40%;
}